body{
    background-color: #e6d299;
    overflow:  hidden !important;
}

.icon-row{
    min-height: 100vh;
}

a.pkm-icon{
    text-decoration: none;
    color: transparent;
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 auto;
}

@media (max-width: 768px){
    a.pkm-icon{
        transform: scale(.6);
    }
}

a .closed-pokedex{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    max-width: 180px;
    transition: all .3s ease-in-out;
    transform: translate(-50%, -50%);
}

a:hover .closed-pokedex,
a:focus .closed-pokedex{
    opacity: 0;
    transform: translate(-100%, -50%);
}

a .open-pokedex{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: all .15s ease-in-out;
    transform: translate(0%, -50%);
}

a:hover .open-pokedex,
a:focus .open-pokedex{
    opacity: 1;
    transform: translate(-50%, -50%);
}

a .stars-pokedex{
    position: absolute;
    top: 0;
    left: 50%;
    transform: scale(.8) translate(-50%, -125%);
    transform-origin: 50% 100%;
    transition: all .2s ease-in-out;
    opacity: 0;
}

a:hover .stars-pokedex,
a:focus .stars-pokedex{
    transform: scale(1) translate(-50%, -125%);
    opacity: 1;
}

a .pokeball-closed{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    transition: all .2s ease-in-out;
}

@keyframes spin1 {
    0% { transform: translateX(-50%) rotate(0deg);}
    80% { transform: translateX(-50%) rotate(180deg);}
    100% { 
        opacity: 0;
    }
}

a:hover img.pokeball-closed,
a:focus img.pokeball-closed{
    animation: spin1 .7s ease-in-out forwards;
}


a .pokeball-open{
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transform: translateX(-50%);
}

@keyframes fade-in-pkm {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

a:hover .pokeball-open,
a:focus .pokeball-open{
    animation-delay: .7s;
    animation: fade-in-pkm .8s ease-in-out forwards;
}