body{
    background-color: #e6d299;
}

.icon-row{
    min-height: 100vh;
}

a.pkm-icon{
    text-decoration: none;
    color: transparent;
}

a .closed-pokedex{
    opacity: 1;
    max-width: 180px;
    transition: all .3s ease-in-out;
    transform: translateX(75%);
}

a:hover .closed-pokedex,
a:focus .closed-pokedex{
    opacity: 0;
    transform: translateX(-25%);
}

a .open-pokedex{
    opacity: 0;
    max-width: 180px;
    transition: all .15s ease-in-out;
    transform: translateX(75%);
}

a:hover .open-pokedex,
a:focus .open-pokedex{
    opacity: 1;
    transform: translateX(-25%);
}

a .stars-pokedex{
    max-width: 180px;
    margin-top: -75px;
    transform: scale(.55);
    transition: all .2s ease-in-out;
    opacity: 0;
}

a:hover .stars-pokedex,
a:focus .stars-pokedex{
    max-width: 180px;
    transform: scale(1);
    opacity: 1;
}

@media(max-width: 768px){
    a .open-pokedex,
    a .closed-pokedex,
    a .stars-pokedex{
        max-width: 100px;
    }
    a:hover .stars-pokedex,
    a:focus .stars-pokedex{
        max-width: 100px;
        transform: scale(1);
        opacity: 1;
    }
}

a .pokeball-closed{
    max-width: 100px;
    margin-top: 100px;
    transition: all .2s ease-in-out;
}

@media (max-width: 768px){
    a .pokeball-closed{
        max-width: 80px;
    }
}

@keyframes spin1 {
    0% { transform: rotate(0deg);}
    80% { transform: rotate(180deg);}
    100% { 
        opacity: 0;
    }
}

a:hover img.pokeball-closed,
a:focus img.pokeball-closed{
    animation: spin1 .7s ease-in-out forwards;
    transform: translateX(-100%);
}


a .pokeball-open{
    max-width: 180px;
    opacity: 0;
}

@media (max-width: 768px){
    a .pokeball-open{
        max-width: 100px;
    }
}

@keyframes fade-in-pkm {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

a:hover .pokeball-open,
a:focus .pokeball-open{
    animation-delay: .7s;
    animation: fade-in-pkm .8s ease-in-out forwards;
    transform: translate(-75%);
}